/****************** TAG SELECTORS **********************/
body {
  font-family: 'Roboto', sans-serif;

}
/****************** FIRST CONTAINER **********************/
.first-container {
  height: 813px;
  background: linear-gradient(100.72deg, #122E99 -12.83%, #2370C8 104.22%);
}

.navbar {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  color: inherit;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.87rem;
  line-height: 2.18rem;
  color: #FFFFFF;
  display: flex;
}

.navbar-items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18rem;
  color: #FFFFFF;
  align-items: center;
}

.form-inline {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border-radius: 100px;
}

.form-control::placeholder {
  color: #2370C8;
  opacity: 1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18rem;
}

.search-button {
  background: transparent;
  border: none;
  outline: focus;
  margin-left: -33px;
}

.company-heading {
  margin-top: 10%;
  margin-left: 10%;
}

.first-heading {
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.31rem;
  color: #FFFFFF;
}

.first-paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.68rem;
  color: #FAFAFA;
}

.button-div1 {
  width: 160px;
  height: 48px;
  background: #2370C8;
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-div1:hover {
  background: #FFFFFF;
  color: #000000;
}




/****************** SECOND CONTAINER **********************/
.second-container {
  padding-bottom: 5%;
}

.second-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: center;
  color: #2370C8;
  margin-top: 10%;
}

.second-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #262A4E;
}

.btn1 {
  position: relative;
  height: 45px;
  width: 45px;
  font-size: 1.3rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 50px;
  background: #E0E0E0;
}

.btn2 {
  position: relative;
  height: 45px;
  width: 45px;
  font-size: 1.3rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  margin-bottom: 50px;
}

.img-fluid {
  height: 70px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.card {
  background: #E5F3FE;
  border: 3px solid #CFEAFF;
}

.card:hover {
  background: #FFFFFF;
  border: 2px solid #2370C8;
  box-shadow: 0px 4px 12px #D2EBFF;
}

.about-us {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  padding-top: 10%;
  padding-bottom: 10%;
}

.about-us-img {
  margin-inline: auto;
  margin-bottom: 2%;
}

.img-gray {
  width: 100%;
  height: 100%;
}

.about-us-text {
  margin-left: 3%;
  width: fit-content;
}

.about-us-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  color: #2370C8;
  margin-bottom: 5%;
}

.about-us-heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
  color: #262A4E;
  margin-bottom: 5%;
}

.about-us-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #646464;
  margin-bottom: 5%;
}

.button-div2 {
  height: 48px;
  width: 160px;
  border-radius: 30px;
  background-color: #2370C8;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-div2:hover {
  background: #646464;
}



/****************** THIRD CONTAINER **********************/
.third-container {
  padding: 5% 0;
  background: #F2F9FF;
  justify-content: center;
  align-items: center;
  display: flex;
}

.third-container-wrapper {
  padding: 3% 0;
  width: 1348px;
  border-radius: 5px;
  border: 5px solid #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: auto;
  margin-left: auto;
}



/****************** FOURTH CONTAINER **********************/
.fourth-container {
  background: #FFFFFF;
}

.fourth-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: left;
  color: #2370C8;
  margin-top: 7.5%;
  margin-left: 10%;
}

.fourth-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  color: #262A4E;
  margin-left: 10%;
  margin-bottom: 2.5%;
}

.fourth-container-wrapper {
  justify-content: center;
  width: 75%;
  margin-inline: auto;
}

.latest-work-div {
  height: 300px;
  width: 350px;
  background-color: #E7E7E7;
  margin-inline: auto;
  margin-bottom: 3%;
  position: relative;
  text-align: center;
}

.latest-work-text {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.62rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.portfolio-button-div {
  width: auto;
  margin-inline: auto;
}

.portfolio-button1 {
  border-radius: 100%;
  border: 2px;
  opacity: 100%;
  height: 30px;
  width: 30px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.portfolio-button2 {
  border-radius: 100%;
  border: 2px;
  opacity: 100%;
  height: 30px;
  width: 30px;
  background: #2370C8;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
/****************** FIFTH CONTAINER **********************/
.fifth-container {
  background: #F2F9FF;
  padding-bottom: 5%;
}

.fifth-row {
  margin-top: 10%;
}

.fifth-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: center;
  color: #2370C8;
  padding-top: 5%;
}

.fifth-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #262A4E;
}

.employee-wrapper {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.employee-div1 {
  height: 450px;
  width: 416px;
  background: #E7E7E7;
  margin-inline: auto;
  margin-bottom: 7%;
}

.employee-div-nest {
  box-shadow: 0px 4px 24px rgba(217, 237, 255, 0.8);
  height: 89px;
  width: 360px;
  opacity: 40%;
  background: #F2F9FF;
  transform: translateY(455%) translateX(15%);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nest-heading {
  font-weight: 500;
  font-size: 1.37rem;
  line-height: 1.56rem;
  color: #262A4E;
  opacity: 100%;
}

.employee-div2 {
  height: 450px;
  width: 416px;
  background: #E7E7E7;
  margin-inline: auto;
  margin-bottom: 7%;
}

.employee-div3 {
  height: 450px;
  width: 416px;
  background: #E7E7E7;
  margin-inline: auto;
  margin-bottom: 7%;
}

/****************** SIXTH CONTAINER **********************/
.sixth-container {
  background: #FFFFFF;
}

.sixth-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: left;
  color: #2370C8;
  margin-left: 10%;
  margin-top: 10%;
}

.sixth-heading {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  color: #262A4E;
  margin-left: 10%;
}

.div-pricing {
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 7%;
  width: 90%;
}

.pricing-body {
  height: 553px;
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 8px 48px rgba(185, 215, 238, 0.4);
  margin-bottom: 3%;
  margin-inline: auto;
}

.pricing-body-img {
  margin-top: 2%;
  margin-bottom: 4%;
}

.pricing-body:hover {
  background: #2370C8;
  color: #FFFFFF;
  box-shadow: 0px 8px 48px rgba(185, 215, 238, 0.4);
}

.pricing-body:hover .pricing-button {
  background: #FFFFFF;
  color: #2370C8;
}

.pricing-button {
  height: 42px;
  width: 136px;
  border-radius: 30px;
  background: #2370C8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.18rem;
}
/****************** SEVENTH CONTAINER **********************/
.seventh-container {
  background: #3782D7E5;
  align-items: center;
  justify-content: center;
}

.seventh-heading-div {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
  text-align: center;
  color: #FFFFFF;
  padding-top: 8%;
}

.seventh-wrapper-div {
  display: flex;
  width: 92%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.seventh-inner-div {
  height: 371px;
  width: 659px;
  background: rgba(55, 130, 215, 0.5);
  border: 1px solid #6AB0FF;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-inline:auto;
  margin-bottom: 5%;
}

.seventh-inner-div2 {
  height: 371px;
  width: 659px;
  background: rgba(55, 130, 215, 0.5);
  border: 1px solid #6AB0FF;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-bottom: 5%;
}

 .inner-div-img {
   margin-bottom: 3%;
 }

 .inner-div-heading {
   margin-bottom: 2%;
 }

/****************** EIGHTH CONTAINER **********************/
.eighth-container {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 15% 0;
}

.eighth-container-wrapper {
  margin-inline: auto;
  align-items: center;
  width: 90%;
}

.eighth-blog-div {
  width: 300px;
  margin-bottom: 3%;
  margin-inline: auto;
}

.eighth-paragraph {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: left;
  color: #2370C8;
}


.content-div-heading1 {
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 15%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.62rem;
  color: #262A4E;
}

.content-div-heading {
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 15%;
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 1.31rem;
  color: #2370C8;
}

.content-div-paragraph {
  margin-bottom: 3%;
  margin-left: 7%;
  margin-right: 15%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.56rem;
  letter-spacing: -0.01em;
  color: #646464;
}

.eighth-blog-content-div {
  height: 485px;
  width: 455px;
  background: #FFFFFF;
  border: 1px solid #3782D7;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-bottom: 3%;
}

.eighth-blog-content-div:hover {
  background: #3782D7;
}

.eighth-blog-content-div:hover .content-div-paragraph {
  color: #FFFFFF;
}

.eighth-blog-content-div:hover .content-div-heading {
  color: #FFFFFF;
}

.eighth-blog-content-div:hover .content-div-heading1 {
  color: #FFFFFF;
}

.eighth-button-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-inline: auto;
}

.eighth-button1 {
  border-radius: 100%;
  border: 2px;
  opacity: 100%;
  height: 30px;
  width: 30px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eighth-button2 {
  border-radius: 100%;
  border: 2px;
  opacity: 100%;
  height: 30px;
  width: 30px;
  background: #2370C8;
  margin-top: 12px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-hr {
  width: 20%;
  border-width: 3px;
  color: #2370C8;
  background-color: #2370C8;
  opacity: 100%;
}
/****************** FOOTER CONTAINER **********************/
.footer-container {
  background: #F2F9FF;
}

.footer-container-wrapper {
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.footer-logo {
  width: 380px;
  margin-inline: auto;
}

.footer-logo-h {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.62rem;
  color: #2370C8;
}

.footer-logo-p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.56rem;
  color: #646464;
  margin-bottom: 10%;
}

.footer-img {
  margin-top: 5px;
  height: 75px;
  width: 75px;
}

.footer-img2 {
  margin-right: 20px;
}

.our-links {
  width: fit-content;
  margin-inline: auto;

}

.footer-home {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #2370C8;
}

.footer-p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #646464;
}

.footer-h {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #262A4E;
}

.our-company {
  width: fit-content;
  margin-inline: auto;

}

.our-services {
  width: fit-content;
  margin-inline: auto;

}

.footer-hr {
  border: solid #7AB8FF;
  opacity: 80%;
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer-div-hr {
  border: solid #2370C8;;
  opacity: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.copyright-div {
  text-align: center;
  padding: 10px 0;
}
