/****************** FIRST CONTAINER **********************/
.first-container {
  height: 813px;
  background: linear-gradient(100.72deg, #122E99 -12.83%, #2370C8 104.22%);
}

.navbar {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  color: inherit;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.87rem;
  line-height: 2.18rem;
  color: #FFFFFF;
  display: flex;
}

.navbar-items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18rem;
  color: #FFFFFF;
  align-items: center;
}

.form-inline {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border-radius: 100px;
}

.form-control::placeholder {
  color: #2370C8;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18rem;
}

.search-button {
  background: transparent;
  border: none;
  outline: focus;
  margin-left: -33px;
}

.company-heading {
  margin-top: 10%;
  margin-left: 10%;
}

.first-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 5.31rem;
  color: #FFFFFF;
}

.first-paragraph {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.68rem;
  color: #FAFAFA;
}

.button-div1 {
  width: 160px;
  height: 48px;
  background: #2370C8;
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-div1:hover {
  background: #FFFFFF;
  color: #000000;
}




/****************** SECOND CONTAINER **********************/
.second-container {
  height: 1200px;
}

.second-paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: center;
  color: #2370C8;
  margin-top: 10%;
}

.second-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #262A4E;
}

.btn {
  height: 45px;
  width: 45px;
  font-size: 1.2rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-flex;
}

.img-fluid {
  height: 70px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.card {
  background-color: #CFEAFF;
}

.card:hover {
  background-color: #FFFFFF;
  border-color: #2370C8;
}

.carousel-indicators .active{
  background-color: #f00;
}

.about-us {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}
.about-us-img {
  margin-right: 5%;
}

.about-us-text {
  text-align: left;
}

.about-us-paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  color: #2370C8;
  margin-bottom: 5%;
}

.about-us-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
  color: #262A4E;
  margin-bottom: 5%;
}

.about-us-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #646464;
  margin-bottom: 5%;
}

.button-div2 {
  height: 48px;
  width: 160px;
  border-radius: 30px;
  background-color: #2370C8;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-div2:hover {
  background: #646464;
}



/****************** THIRD CONTAINER **********************/
.third-container {
  height: 500px;
  background: #F2F9FF;
  justify-content: center;
  align-items: center;
  display: flex;
}

.third-container-wrapper {
  height: 292px;
  width: 1348px;
  border-radius: 5px;
  border: 5px solid #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: auto;
  margin-left: auto;
}



/****************** FOURTH CONTAINER **********************/
.fourth-container {
  background: #FFFFFF;
  height: 1000px;
}

.fourth-paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: left;
  color: #2370C8;
  margin-top: 5%;
  margin-left: 10%;
}

.fourth-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  color: #262A4E;
  margin-left: 10%;
}


/****************** FIFTH CONTAINER **********************/
.fifth-container {
  background: #F2F9FF;
  height: 800px;
}

.fifth-row {
  margin-top: 10%;
}

.fifth-paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: center;
  color: #2370C8;
  padding-top: 5%;
}

.fifth-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  color: #262A4E;
}



/****************** SIXTH CONTAINER **********************/
.sixth-container {
  background: #FFFFFF;
  height: 1000px;
}

.sixth-paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.87rem;
  letter-spacing: 0.15rem;
  text-align: left;
  color: #2370C8;
  margin-left: 10%;
  margin-top: 10%;
}

.sixth-heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  color: #262A4E;
  margin-left: 10%;
}

/****************** SEVENTH CONTAINER **********************/
.seventh-container {
  height: 690px;
  background: #3782D7E5;
  margin-inline: auto;
  align-items: center;
  display: flex;
}

.seventh-container-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
  text-align: center;
  color: #FFFFFF;
  padding-top: 5%;
}

.seventh-inner-div {
  height: 371px;
  width: 659px;
  background: rgba(55, 130, 215, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

/****************** EIGHTH CONTAINER **********************/
.eighth-container {
  height: 1000px;
  background: #FFFFFF;
}
